html, body {
  background-color: #000;
  color: #FFFFFF;
  font-family: monospace;
  margin: 0;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto; /* centers the container */
  width: 100%; /* allows it to shrink on small screens */
}

hr {
  border: none;
  border-top: 1px solid #0f0;
  box-shadow: 0 0 5px 1px #0f0;
}

h1, h2, h3, h4, h5, h6, code, pre {
  color: #FFFFFF;
}

img {
  box-shadow: 0 0 5px #33ccff, 0 0 5px #66ffff, 0 0 5px #ccff66;
  width: auto;
  height: auto;
  display: block;
}

a {
  color: #0f0;
  text-decoration: underline;
}

details summary {
  color: #FFFFFF;
  font-weight: bold;
}

blockquote {
  border-left: 2px solid #0f0;
  padding-left: 1rem;
}

code, pre {
  color: #0f0;
  background-color: #001;
}

#content {
  position: relative;
  background-color: #111;
  border-radius: 2.5px;
  box-shadow: 0 0 10px 2.5px #0f0;
}