html, body {
  background-color: #000;
  color: #FFFFFF;
  font-family: monospace;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #0f0;
  box-shadow: 0 0 2.5px 0.5px #0f0;
  margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6, code, pre {
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem 0;
  box-shadow: 0 0 5px #33ccff,
              0 0 5px #66ffff,
              0 0 5px #ccff66;
}

a {
  color: #0f0;
  text-decoration: underline;
}

details {
  background-color: #004F1F;
  padding: 2px;
}

details summary {
  color: #FFFFFF;
  font-weight: bold;
}

blockquote {
  border-left: 2px solid #0f0;
  padding-left: 1rem;
}

code, pre {
  color: #0f0;
  background-color: #001;
}

#content {
  position: relative;
  padding: 2.5px;
  background-color: #111;
  border-radius: 2.5px;
  box-shadow: 0 0 5px 2.5px #0f0;
}

#back-to-top {
    position: fixed;
    right: 0.5em;   /* final three right columns */
    bottom: 1em;
    font-size: 2em; /* about three emoji size */
    text-decoration: none;
    z-index: 999;
  }



/* Week navigation styling
.week-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.week-nav button {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  background-color: #0f0;
  color: #000;
  border: 2px solid #222;
  border-radius: 6px;
  cursor: pointer;
}

.week-nav button:hover {
  background-color: #1f1;
}*/
