body {
  background-color: #000;
  color: #FFFFFF;
  font-family: monospace;
  margin: 0;
  text-align: center;   /* centers inline text elements */
}

hr {
  border: none;
  border-top: 1px solid #0f0;
  box-shadow: 0 0 2.5px 0.5px #0f0;
  margin: 0;      /* no spacing */
  padding: 0;     /* no padding */
}

h1, h2, h3, h4, h5, h6, p, code, pre {
  color: #FFFFFF;
  padding: 0.5rem 0; /* breathing room for text */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem 0;
  box-shadow: 0 0 5px #33ccff,
              0 0 5px #66ffff,
              0 0 5px #ccff66;
}

a {
  color: #0f0;
  text-decoration: underline;
}

details {
  background-color: #004F1F;
  padding: 5px;
  text-align: left;
}

details summary {
  color: #FFFFFF;
  font-weight: bold;
}

blockquote {
  border-left: 2px solid #0f0;
  padding-left: 1rem;
}

code, pre {
  color: #0f0;
  background-color: #001;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;

}

#content {
  border: 2px solid #0f0;       /* neon border */
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #0f0;
}

#back-to-top {
  position: fixed;
  right: 0.5em;
  bottom: 1em;
  font-size: 2em;
  text-decoration: none;
  z-index: 999;
}

#present-moment-link {
    color: #ff0; /* Yellow Neon */
    text-shadow: 0 0 5px #ff0;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #ff0;
    box-shadow: 0 0 3px #ff0;
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.2s;
}

#present-moment-link:hover {
    color: #fff;
    background-color: #001A00;
    text-shadow: 0 0 8px #fff, 0 0 15px #ff0;
}
